@{
    ViewData["Title"] = "Home Page";
    ViewBag.SiteName = "닷넷 노트";
    ViewBag.SiteUrl = "http://www.dotnetnote.com";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <em>
        @ViewBag.SiteName<text>(</text>@ViewBag.SiteUrl@(")") 사이트는 ASP.NET Core 1.0 데모 사이트입니다.
    </em>
</div>

<form>
    <input type="text" name="data" value="@ViewBag.Data"/>
    <input type="submit" value="제출"/>
</form>
