@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="font-size:20px">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<label for="test"> input-text</label>*@
@Html.Label("test")
<input type="text" id="test2" />
@Html.Label("test2","test2")

<input type="text" id="test3"/>
@Html.Label("test3","test3",new{@style= "font-size:20px"})

<input type="text" id="test4" />

