@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">


    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form method="post" action="/Home/Login">
        <div>
            로그인 :
            <input type="text" placeholder="사용자 아이디 입력" id="UserId" name="UserId" />
        </div>
        <div>
            비밀번호 :
            <input type="password" placeholder="사용자 비밀번호 입력" id="UserPassword" name="UserPassword" />
        </div>
        <button type="submit" class="btn btn-success">로그인</button>

    </form>
</div>

