@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<head>
    <style>
        #dragDropArea {
            background-color: #f4f4f4;
            margin: 10px;
            padding: 10px;
            border: #ddd solid 2px;
            min-height: 200px;
            text-align: center;
            border-radius: 5px;
        }

            #dragDropArea p {
                color: #999;
                font-weight: bold;
                font-size: 14px;
                font-size: 1.4em;
            }

            #dragDropArea .drag-drop-buttons {
                margin-top: 20px;
                font-size: 12px;
                font-size: 1.2em;
            }

        .drag-drop-buttons input {
            margin: auto;
        }

        .fileInputButton {
            color: white;
            background-color: lightgray;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            color: #999;
        }
    </style>
    <script src="~/js/fileUpload_JS.js"></script>
</head>
<body>
    <div class="mt-5 pt-5">
        <div class="container-fluid">
            <h1> 게시판 작성하기</h1>
            <form class="row g-3" asp-controller="Board" asp-action="CreateBoard" method="post" enctype="multipart/form-data" >
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 mt-3">
                            <label class="col-form-label">작성자</label>
                            <input type="text" class="form-control" id="name" name="name"/>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="col-form-label">제목</label>
                            <input type="text" class="form-control" id="title" name="title" />
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="col-form-label">내용</label>
                            <textarea class="form-control editor" rows="20" id="Content" name="Content" placeholder="본문 내용"></textarea>
                        </div>
                        <div class="mb-3 mt-3 custom-file">
                           <input type="file" class="custom-file-input" size="15" name="uploadFile" multiple/>
                        </div>
                        <div class="class=" mb-3 mt-3">
                            <button type="submit" class="btn btn-primary mb-0">저장</button>
                            <a class="btn btn-success" href="@Url.Action("BoardList","Board")">목록</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
@*<script>
    $(function () {
        $("#uploadButton").click(function () {
            if ($("#uploadFile").val() === "") {
                alert("File is empty.");
                return;
            }
            var formData = new FormData();
            $.each(document.querySelector("#uploadFile").files, function (i, item) {
                formData.append("files", item);
            });
            $.ajax({
                type: "POST",
                url: "Home/UploadFiles",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data === "Success") $("#uploadFile").val("");
                    else alert(data);
                }
            })
        });
    });
</script>*@